
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
            <svg class="icon icon--primary">
                <use xlink:href="images/sprite (2).svg#chevron"></use>
              </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nostrum inventore natus dolore consectetur
         illo aliquid ex unde voluptatibus quia!
    </div>
</div>
